* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to top, #ededed 0%, #c8cee5 100%);
  padding: 10px;
}

.tarefas {
  width: 100%;
  max-width: 540px;
  background: #fff;
  margin: 150px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 50px;

  box-shadow: 0px 0px 30px #afafaf;
}
h2 {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  font-size: 30px;
  position: relative;
}

.tarefas h2 img {
  position: absolute;
  right: 0;
  width: 40px;
  margin-left: 20px;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  border: none;
  outline: 3px groove #9d9999;
  border-radius: 20px;
  padding-left: 20px;
  margin-bottom: 25px;
}

.row input {
  flex: 1;
  border: none;
  outline: none;
  padding: 5px;
  background: transparent;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
}
.row input::placeholder {
  color: #1e008d;
}

button {
  border: none;
  outline: none;
  padding: 5px 30px;

  background: #3c528b;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 20px;
  margin: auto;
  display: block;
}
ul li {
  list-style: none;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
  margin-block: 10px;
}
ul li::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: url(img/dry-clean.png);
  background-size: cover;
  background-position: center;
  top: 12px;
  left: 8px;
}
ul li.checked {
  background: #3c528b;
  color: #fff;
  border-radius: 50px;
}

ul li.checked::before {
  background: url(img/check.png);
  background-size: cover;
}
ul li span {
  position: absolute;
  top: 8px;
  right: 1px;
  margin-right: 5px;
  width: 30px;
  height: 30px;
  font-size: 22px;
  color: #000;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
}
ul li.checked span {
  color: #ffffff;
}

ul li.checked span:hover {
  background: #fff;
  color: #000;
}

ul li span:hover {
  background: #000;
  color: #fff;
}
